@charset "UTF-8";

/* 回答はここに書いてね */

.container {
  background-color: #ecf1f2;
  padding: 20px;
  box-sizing: border-box;
}

.cal {
  display: flex;
  margin-bottom: 20px;
}

.layout {
  background-color: #FFF;
  margin-left: 20px;
  font-size: 16px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.layout:first-child {
  margin-left: 0;
}

.cal:last-child {
  margin-bottom: 0;
}


.grid12 {
  width: 100%;
}

.grid6 {
  width: 50%;
}

.grid4 {
  width: 33.333%;
}

.grid3 {
  width: 25%;
}

.grid2_4 {
  width: 20%;
}

.grid2 {
  width: 16.666%;
}

.grid6_1 {
  width: 50.96%;
}

.grid3_1 {
  width: 24.5%;
}

.grid2_1 {
  width: 16%;
}

.grid4_1 {
  width: 34%;
}

/* 回答はここに書いてね */
